.row
  .col.col-12
    %h2= t('users.edit_title')
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render 'application/error', object: resource
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password
        %i.text-muted (#{ t('users.leave_password') })
        %br/
        = f.password_field :password, autocomplete: "new-password"
        - if @minimum_password_length
          .form-helptext
            = plural(@minimum_password_length, :character)
      .field
        = f.label :password_confirmation
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .field
        = f.label :current_password

        = f.password_field :current_password, autocomplete: "current-password"
        .form-helptext
          = t('users.we_need_password')
      .actions
        = f.submit t('actions.update'), class: 'btn'
        .float-right
          = button_to t('users.cancel_account'),
            registration_path(resource_name),
            data: { confirm: t('actions.sure') },
            method: :delete,
            class: 'btn btn-outline'